                .nav{ position: fixed; margin-top:-2%;}
                .nav1 {position: fixed; margin-top:-3%;}
                body { display: block;background: url(1.png) repeat;}
                a:hover {color: brown;}
                .b {color:#3df200; padding-top:3%; margin-left:1em; padding: 1.5em; background-color:black; text-decoration: none;}
                .pad {color:#3df200; margin: 0.5em; padding: 1.5em;  margin-right: 4.5em; padding-right: 5.5em; padding-left: 5.5em; background-color:black; text-decoration: none;}
                h1 {text-align: center; font-family: 'Courier New', Courier, monospace; color: blue;}
                nav {padding:2%; float: left; background-color:cornsilk; border-radius: 5%; margin-top: 17em; }
                .c {margin-left:93%;}
                .img {width:80%; height:6%;}
                .text { margin-right: 1%; margin-left: 24%; background-color: bisque; margin-top: 12em; border-radius: 7%; padding: 17px;}
                .top {margin:9px;}
                .y0 {display: inline-block;}
                .sidepic {margin-top: 22%;  float: left; clear: both; margin-right: -5%;}
                .nope {height: 100%; width: 100%;}
                .char {padding: 5px; width:77.5%; color:#3df200; background-color: black; font-family: Georgia, 'Times New Roman', Times, serif; font-weight: bold;}
                footer {margin-top: 2%; border: 1px solid burlywood; background-color: black; height: 50px; margin-bottom: -1%; padding-left: 94%; padding-top: 2%; }
                .right {color:#3df200; text-decoration: none;}